/* COMMON STYLES */
* {
    margin: 0px;
    word-break: break-word;
}

body {
    display: grid;
    grid-template-columns: 18em auto;
    overflow-y: hidden;
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    transition: 0.15s ease;
}

a:hover, .hover:hover {
    color: rgb(136, 54, 16);
    transition: 0.15s ease;
}

.page-container {
    height: 100vh;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 15px 0px;
}

.page-title {
    margin: 20px 0px;
}

.justify-text {
    text-align: justify;
}

.unset-btn {
    all: unset;
    cursor: pointer;
}


/* SIDEBAR (HEADER) & NAVIGATION */
.sidebar {
    margin: 25px 0px;
    padding: 2em;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0px 50px 50px 0px;
}

.sidebar-img {
    width: 30px;
}

.sidebar-bottom {
    position: static;
}  

.large-button {
    all: unset;
    margin: 0 auto;
    background-color: rgb(214, 163, 139);
    width: 14em;
    height: 4em;
    border-radius: 5em;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: 0.15s ease;
}

.large-button:hover, .small-button:hover {
    background-color: rgb(255, 227, 211);
    color: rgb(71, 39, 24);
}

.navlinks {
    display: flex;
    flex-direction: column;
}

.nav-btn {
    margin: 1em 0em;
    font-size: 20px;
    border-radius: 5em;
    cursor: pointer;
    font-weight: 600;
    transition: 0.15s ease;
    text-align: left;
}

.nav-btn>button {
    all: unset;
    display: flex;
    align-items: center;
    height: 2em;
    padding: 10px;
}

.nav-p {
    margin: 0px 20px;
}

.nav-btn:hover {
    background-color: rgb(241, 198, 163);
    color: rgb(71, 39, 24);
}

.show-on-small {
    display: none;
}



/* SIDEBAR MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    .hide-on-small {
        display: none;
    }
    
    .show-on-small {
        display: initial;
    }

    body {
        grid-template-columns: 7em auto;
    }
}



/* COMPONENT - USER AREA */
.user-area {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.user-area-avatar-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    clip-path: circle();
}

.user-area-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-link {
    display: flex;
    align-items: center;
    gap: 1em;
}

.small-button {
    all: unset;
    background-color: rgb(214, 163, 139);
    height: 3em;
    padding: 4px 10px;
    border-radius: 3em;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    transition: 0.15s ease;
    font-size: 12px;
}



/* LOADED PAGE */
main {
    padding: 2em;
    overflow-y: scroll;
}



/* SIGN IN & SIGN UP PAGE */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


/* TABLES */
.table-thread-headings {
    margin: 10px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
}

.table-card, .comment-card {
    background-color: bisque;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.table-card:hover {
    background-color: rgb(253, 216, 173);
}

.table-card-info {
    position: static;
}

.table-card-user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0px 10px;
    padding: 0px 0px 0px 40px;
    width: 140px;
}

.table-card-user-img-container {
    width: 40px;
    height: 40px;
    overflow: hidden;
    clip-path: circle();
}

.table-card-user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faded-text {
    color: rgb(122, 91, 91);
}


@media only screen and (max-width: 700px) {
    .comment-card {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .table-card-user {
        width: initial;
        margin: 0px 0px 20px 0px;
        padding: 0px;
    }
}




/* MAIN CONTENT (MC) BOX */
/* Common styles for displaying main content of profile page, posts page, etc.*/

.mc-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
    border-radius: 2em;
    padding: 20px 10px;
    margin: 0px 0px 20px 0px;
}

.mc-row {
    display: flex;
}

.mc-profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px 0px;
    margin: 20px 10px;
}

.mc-profile-img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    clip-path: circle();
}

.mc-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mc-content {
    margin: 10px 20px;
}

@media only screen and (max-width: 700px) {
    .mc-box, .mc-row {
        flex-direction: column;
        justify-content: center;
    }
    .mc-content {
        order: 2;
    }
    .mc-profile-box {
        order: 1;
    }
}



/* USER PROFILE CARDS */

.cards-display {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.profile-card {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: bisque;
    border-radius: 2em;
    width: 120px;
    transition: 0.15s ease;
}

.profile-card:hover {
    background-color: rgb(253, 216, 173);
}

.profile-img-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    clip-path: circle();
}

.profile-img-small {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-card-text {
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px
}



/* SPACER COMPONENTS */
.spacer {
    height: 100px;
}

.spacer-bar {
    margin: 30px 0px;
}



/* FORMS */
.basic-form {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    gap: 10px;
}

.basic-form > label {
    font-weight: 600;
}

.basic-form > textarea {
    height: 200px;
    resize: none;
}



/* POST & USER ACTIONS */
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
}

.action-btns {
    display: flex;
    gap: 5px;
}


/* COMMENTS ACTIONS */
.actions-comments {
    display: flex;
    justify-content: flex-start;
    gap: 0px 10px;
    margin: 10px 10px;
}